.*
!.gitignore
*.ipr
*.iws
**/*.iml
*.log
*.out
atlassian-ide-plugin.xml
target
build
out
gradle
gradlew
gradlew.bat
# Ignore Gradle project-specific cache directory
.gradle 

**/bin/
**/.gradle
**/build
**/gradle
**/.gitignore

hazlecast-server/logs/
